/* -------------
   RESET
----------------- */

*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ----------------
   GENERAL
------------------- */

body{

    display: flex;

}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  

/* ----------------
        HEADER
------------------- */

    header{

        background-color: black;
        height: calc(100vh - 100px);
        width: 200px;
         
    }
    
/* header top */

    .header-logo{

        height: 100px;
        background-color: black;
        color: white;
    }

    .header-logo .searches li{

        margin: 10px 20px;
        gap: 10px;
        display: flex;
    }
        
    .logo{

        max-height: 50px;
        margin-bottom: 20px;
    }

    .searches li{

        display: flex;
        align-items: center;
    }

    .searches li img {

        height: 26px;
    }

    
    .cerca{

    color: gray;
    }
           
    .libri{

    color: gray;
    }

    .small{
        display: none;
        max-width:50px;
    }

    /* header body */

    .header-body{

        height: 100px;
        background-color: black;
        color: gray;
    }

    h2{
        display: flex;
        margin-top: 80px;
        position: relative;
        left: 30px;
    }

    .fa-plus{

        background-color: gray;
        padding: 10px;
        color: black;
        margin: 5px;
    }
    

    .play li{

        display:flex;
        color: gray;
        font-size: 14px;
        margin-bottom: 10px;
        position: relative;
        left:20px;
        top:0;
        list-style: none;
        flex-wrap: wrap;
        width: 100%;
        flex-grow: 1;
        overflow-y: auto;
           
    }


    h2{
        color: white;
        font-size: 16px;
        
    }

    /* header user */

    .header-user{

        height:100px;
        background-color: black;   
    }

        
    .app{
        color: gray;
        display: flex;
        position: relative;
        top: 270px;
        left:20px;
    }

    .user{

        display: flex;
        width: 100%;
        position: relative;
        top: 278px;
        left:20px;
        color: white;
    }

    .hr{
        padding: 10px;
    }


    /* ---------------
        MAIN
    -------------------*/

    main{

        background-color: blue;
        height: calc(100vh - 100px);
        width: 100%;
        flex-grow: 1;
    }


    .main-top{

        height: 100px;
        background-color: palevioletred;

    }


    /* ---------------
       FOOTER
    ------------------*/

    footer{

        background-color: green;
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
    }


    .footer-left{

        width: 400px;
        height: 100px;
        background-color: blueviolet;
    }

        

    .footer-center{

        width: 900px;
        height: 100px;
        background-color: lightsalmon;
    }

        
    .footer-right{

        width: 400px;
        height: 100px;
        background-color: yellowgreen;
    }
  


/* ---------------
  RESPONSIVE
------------------ */

@media screen and (max-width: 576px) {

    
    header {        
        height: calc(100vh - 100px);
        max-width: 100%;
        text-align: left;
    }
       
    /* header top */
    .small {
        display:inline;
        margin-bottom: 50px;
    }

    .logo{

        display: none;
    }

    .home{

        display: none;
    }

    .cerca{

        display: none;
    }

    .libri{

        display: none;
    }

    .searches li{

        padding-left: 18px;
        border-left: 2px solid white;
    }

    .searches li:first-child{

        border-color: 2px solid white;
    }

    /* header body */

    .play li{

        display: none;
    }

    h2{
        display: none;
    }

    /* header user */

   .app{
       display:none;
   }

    .user{
        display: none;
    }


}
    


