/* -------------
   RESET
----------------- */

*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ----------------
   GENERAL
------------------- */

body{

    display: flex;

}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

img {
    max-width: 100%;
    max-height: 100%;
}
  

/* ----------------
        HEADER
------------------- */

    header{

        background-color: black;
        height: calc(100vh - 100px);
        width: 300px;
         
    }
    
/* header top */

    .header-logo{

        height: 100px;
        background-color: black;
        color: white;
    }

    .header-logo .searches li{

        margin: 10px 20px;
        gap: 10px;
        display: flex;
    }
        
    .logo{

        max-height: 50px;
        margin-bottom: 20px;
    }

    .searches li{

        display: flex;
        align-items: center;
    }

    .searches li img {

        height: 26px;
    }

    
    .cerca{

    color: gray;
    }
           
    .libri{

    color: gray;
    }

    .small{
        display: none;
        max-width:50px;
    }

    .home-two{
        display: none;
        max-width: 50px;
    }

    .cerca-two{
        display: none;
        max-width: 50px;
    }

    .libri-two{
        display: none;
        max-width: 50px;
    }


    /* header body */

    .header-body{

        height: 100px;
        background-color: black;
        color: gray;
    }

    h2{
        display: flex;
        margin-top: 80px;
        position: relative;
        left: 30px;
    }

    .fa-plus{

        background-color: gray;
        padding: 10px;
        color: black;
        margin: 5px;
    }
    

    .play li{

        display:flex;
        color: gray;
        font-size: 14px;
        margin-bottom: 10px;
        position: relative;
        left:20px;
        top:0;
        list-style: none;
        flex-wrap: wrap;
        width: 100%;
        flex-grow: 1;
        overflow-y: auto;
           
    }


    h2{
        color: white;
        font-size: 16px;
        
    }

    /* header user */

    .header-user{

        height:100px;
        background-color: black;   
    }

        
    .app{
        color: gray;
        display: flex;
        position: relative;
        top: 270px;
        left:20px;
    }

    .user{

        display: flex;
        width: 100%;
        position: relative;
        top: 278px;
        left:20px;
        color: white;
    }

    .hr{
        padding: 10px;
    }


    /* ---------------
        MAIN
    -------------------*/

    main{

        background-color: #141922;
        height: calc(100vh - 100px);
        width: 100%;
        flex-grow: 1;
        overflow-y:scroll;
        
    }

    .main-top{

        height: 100px;
        background-color: #080b12;
        width: 100%;
    }

    .btn{

        display: relative;
        flex-shrink: 0;
        text-align: center;
        background-color: #080b12 ;
        color: white;
        border-color: white;
        border-right: 2px;
        border-radius: 19px;
        position: relative;
        top: 20px;
        right: 10px;
        width: 13%;
        padding: 5px; 
        float: right;
    }

    .main-body{

        display: absolute;
        width: 100%;
        flex-grow: 1;
        
    }

    .main-body .list ul{
  
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 30px;
        margin-top: 30px;
        width: 100%;
        flex-shrink: 0;
        
    }

    .list ul{
        color: gray;
    }

    h3{
        display: flex;
        font-size: 30px;
        color: white;
        margin: 40px;
    }


    h3{
        font-size: 30px;
    }

    .album ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        gap: 50px;
        
    }
    
    .album li{
        text-align: center;
        font-size: 20px;
        color: white;
    }

    .jhon p{
        margin-left: 43px;
        color: gray;
    }

    .doe ul{
        display: flex;
        width: 80%;
        margin: 50px;
        gap: 30px;
        list-style: none;
    }

    .doe li{
        text-align: center;
        color: white;
        align-items: flex-end;
        font-size: 20px;
    }

    .pop p{
        margin-left: 43px;
        color: gray;
    }

    .artisti ul{
        display: flex;
        width: 80%;
        margin: 50px;
        gap: 30px;
        list-style: none;
    }

    .artisti li{
        text-align: center;
        color: white;
        align-items: flex-end;
        font-size: 20px;
    }


    /* ---------------
       FOOTER
    ------------------*/

    footer{

        background-color: green;
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
    }

    .footer-left{

        width: 400px;
        height: 100px;
        background-color: #282828;
    }

    .album-sinister{

        width: 60px;
        margin: 20px;
        
    }

    h5{
        display: flex;
        margin-left: 100px;
        position: relative;
        bottom: 70px;
        font-size: 15px;
        color: white;
    }

    .title p{
        display: flex;
        margin-left: 100px;
        position: relative;
        bottom: 70px;
        font-size: 15px;
        color: gray;
        flex-shrink: 0;
    }

    .icons ul{

        width: 30px;
        margin-left: 280px;
        display: flex;
        list-style: none;
        position: relative;
        bottom: 100px;
        gap: 10px;
        color: white;
        flex-shrink: 0;

    }
   

   .footer-center{

        width: 900px;
        height: 100px;
        background-color: lightsalmon;
    }
        
    .footer-right{

        width: 400px;
        height: 100px;
        background-color: yellowgreen;
    }
  


/* ---------------
  RESPONSIVE
------------------ */

@media screen and (max-width: 576px) {

    
    header {        
        height: calc(100vh - 100px);
        max-width: 100%;
        text-align: left;
    }
       
    /* header top */
    .small {
        display:inline;
        margin-bottom: 50px;
        margin-top: 10px;
        position: relative;
        left: 5px;
    }

    .logo{

        display: none;
    }

    .home{

        display: none;
    }

    .cerca{

        display: none;
    }

    .libri{

        display: none;
    }

    .home-two{
        display: inline;
        font-size: 30px;
        display: flex;
        position: relative;
        bottom: 40px;
        right: 5px;
        
    }

    .cerca-two{
        display: inline;
        font-size: 30px;
        display: flex;
        position: relative;
        bottom: 40px;
        right: 5px;
        color: gray;
        
    }

    .libri-two{
        display: inline;
        font-size: 30px;
        display: flex;
        position: relative;
        bottom: 40px;
        right: 5px;
        color: gray;
        
    }

    .app-two{
        display: inline;
        font-size: 20px;
        display: flex;
        position: relative;
        top: 150px;
        left: 18px;
        color: gray;
        
    }

    .user-two{
        display: inline;
        font-size: 30px;
        display: flex;
        position: relative;
        top: 170px;
        left: 15px;
        color: gray;
        
    }


    /* header body */

    .play li{

        display: none;
    }

    h2{
        display: none;
    }


    /* header user */

   .app{
       display:none;
   }

    .user{
        display: none;
    }

    /* main */

    .btn{
        display: inline;
        flex-shrink:0;
    }

    .list{
        display: inline;
        flex-shrink: 0;
        flex-direction: column;
    }

    main {        
        height: calc(100vh - 140px);
        max-width: 100%;
        flex-shrink: 0;
    }


    .album ul{

        flex-wrap: wrap;
        overflow-y: auto;
    }
}
    


